.message_Card {
  padding: 10px;
  margin: 20px;
  width: fit-content;
}

.message_user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message_usercard {
  background-color: rgb(228, 34, 66) !important;
}

.guest_usercard {
  background-color: grey !important;
}

